<template>
  <div>
    <b-navbar type="light">
      <!-- <b-navbar type="light" toggleable="med"> -->
      <b-navbar-brand href="#" v-on:click="getMostRecent">ISTRUMPLYING</b-navbar-brand>
      <!-- <b-navbar-toggle target="nav-collapse"></b-navbar-toggle> -->
      <!-- <b-collapse id="nav-collapse"> -->
      <div class="input-group">
        <input type="text" class="form-control" v-model="queryString">
        <div class="input-group-append">
          <b-button v-on:click="getSearch">Search</b-button>
        </div>
      </div>
      <!-- </b-collapse> -->
    </b-navbar>
  </div>
</template>


<script>
import Navbar from "bootstrap-vue/es/components/navbar";
export default {
  name: "navigation",
  components: {
    Navbar
  },
  data() {
    return {
      queryString: "Search",
      baseURL: "https://cors-anywhere.herokuapp.com/https://trumpapi.azurewebsites.net/api/",
      // baseURL: "https://trumpapi.azurewebsites.net/api/",
      // baseURL: "http://127.0.0.1:5000/api/",
      mostRecentPath: "mostrecent",
      searchPath: "search?q=",
    };
  },
  methods: {
    getMostRecent() {
      fetch(this.baseURL + this.mostRecentPath)
        .then(response => {
          return response.json();
        })
        .then(results => {
          this.$emit("update-results", results);
        });
    },
    getSearch() {
      fetch(this.baseURL + this.searchPath + this.queryString)
        .then(response => {
          return response.json();
        })
        .then(results => {
          this.$emit("update-results", results);
        });
    }
  },
  mounted() {
    this.getMostRecent();
  }
};
</script>
