<template>
  <div id="search-results">
    <tweet v-for="(tweet,index) in displayedResults" v-bind:key="index" v-bind:tweet="tweet"></tweet>
    <b-button block v-on:click="currentSlice -= increment" v-if="currentSlice > 5">Less</b-button>
    <b-button block v-on:click="currentSlice += increment" v-if="currentSlice < results.length">More</b-button>
  </div>
</template>

<script>
import Tweet from "./Tweet.vue";
export default {
  components: {
    Tweet
  },
  data() {
    return {
      increment: 5,
      currentSlice: 5
    };
  },
  computed: {
    displayedResults: function() {
      return this.results.slice(0, this.currentSlice);
    }
  },
  name: "results-display",
  props: {
    results: Array
  }
};
</script>

<style scoped>
#search-results {
  max-width: 540px;
}
</style>


