<template>
  <form v-on:submit="performSearch">
    <input type="text" name="search" id="search" v-model="search">
    <button type="submit">Search</button>
  </form>
</template>

<script>
export default {
  name: "search-box",
  data() {
    return {
      // data property to tie to the search box
      search: ""
    };
  },
  props: {
    // props property for accepting the url to the API
    searchUrl: String
  },
  methods: {
    // method to handle the form submission
    performSearch() {
      fetch(this.searchUrl)
        .then(response => {
          return response.json();
        })
        .then(results => {
          this.$emit("search-results", results);
        });
    }
  }
};
</script>
