<template>
  <div class="tweet">
    <b-card no-body class="overflow-hidden" v-bind:class="truthiness(tweet['category'])" style="max-width: 540px;">
      <b-row no-gutters>
        <b-card-body v-bind:title="truthiness(tweet['category'])" >
          <b-card-text>{{tweet['text']}}</b-card-text>
        </b-card-body>
        <b-card-footer>
          {{tweet['created_at']}} {{tweet['source']}}
        </b-card-footer>
      </b-row>
    </b-card>
  </div>
</template>

<script>
export default {
  name: "tweet",
  props: {
    tweet: Object
  },
  methods: {
    truthiness(num) {
      switch (num) {
        case 8:
          return "Full-Flop";
        case 7:
          return "Half-Flip";
        case 6:
          return "No-Flip";
        case 5:
          return "Pants-on-Fire";
        case 4:
          return "False";
        case 3:
          return "Mostly-False";
        case 2:
          return "Half-True";
        case 1:
          return "Mostly-True";
        default:
          return "True";
      }
    }
  }
};
</script>

<style scoped>
.true {
  background-color: hsl(125, 75%, 75%);
}

.Mostly-True {
  background-color: hsl(100, 75%, 75%);
}

.Half-True {
  background-color: hsl(75, 75%, 75%);
}

.Mostly-False {
  background-color: hsl(50, 75%, 75%);
}

.False {
  background-color: hsl(25, 75%, 75%);
}

.Pants-on-Fire {
  background-color: hsl(0, 75%, 75%);
}
</style>

