<template>
  <div>
    <navigation v-on:update-results="handleResults"></navigation>
    <results-display v-bind:results="tweets"></results-display>
  </div>
</template>

<script>
import ResultsDisplay from "./components/ResultsDisplay.vue";
import Navigation from "./components/Navigation.vue";
export default {
  name: "app",
  components: {
    Navigation,
    ResultsDisplay
  },
  data() {
    return {
      tweets: [],
      baseURL: "http://127.0.0.1:5000/api/",
      mostRecent: "mostrecent"
    };
  },
  methods: {
    handleResults(newResults) {
      this.tweets = newResults;
    }
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  max-width: 540px;
}
body {
  background: rgb(67, 155, 228);
  max-width: 540px;
}
</style>
